<!DOCTYPE html>
<html>
<head>
	<title>Koliziejus [DEMO]</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Koliziejus</a>
    </div>
    <ul class="nav navbar-nav">
      {{#if user}}
        <li><a href="/">News</a></li>
        <li><a href="/users/account">Account</a></li>
        {{#if user.character_dead}}
          <li><a href="/characters/game">Player Actions/Info</a></li>
          <li><a href="/FAQ">FAQ</a></li>
        {{else}}
          <li><a href="/characters/gladiator">Create Gladiator</a></li>
        {{/if}}
        {{#if user.characterInSession}}
          <li><a href="/characters/arena/engage">Resume battle</a></li>
        {{/if}}
        <li><a href="/users/logout">Logout</a></li>
      {{else}}
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; 2018 Koliziejus, Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
