<h2 class="page-header">Account information</h2>
{{#if user}}
	<p>Username: {{user.username}}</p>
	<p>Name: {{user.name}}</p>
	<p>Email: {{user.email}}</p>
	{{#unless user.character_dead}}
		<p>Gladiator state: Dead</p>
	{{else}}
		{{#if user.characterInSession}}
			<p>Gladiator in session: Yes</p>
		{{else}}
			<p>Gladiator in session: No</p>
		{{/if}}
		<p>Gladiator state: Alive</p>
		<a href="/characters/KILL" class="btn btn-danger">Kill your gladiator</a>
		<p><b>Clicking this once will instantly kill your gladiator. Press it only knowing full consequences.</b></p>
		{{#if user.characterInSession}}
			<a href="/characters/endSession" class="btn btn-danger">Delete current session</a>
		{{/if}}
	{{/unless}}
{{else}}
	<p>If you want to see your account information how about you login first.</p>
{{/if}}