<center><b>Remember this fight is not to the death - you can leave by going to Account and pressing a red button.</b></center>
{{timer}}
<br><br>

<div class="panel panel-primary">
	Player: {{user.username}}
	</br>
	Level: {{char_data.level}}
	<div class="panel-body">
		<b>Health: {{char_data.healthPoints}}</b><b>/{{char_data.maxHealthPoints}}</b>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{hp}}%">
				{{hp}}%
			</div>
		</div>
		<b>Stamina: {{char_data.staminaPoints}}</b><b>/{{char_data.maxStaminaPoints}}</b>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{sp}}%">
				{{sp}}%
			</div>
		</div>
	</div>
	<center>
		<a href="/characters/arena/attack" class="btn btn-success btn-xs">Attack</a>
		<!--<a href="/characters/arena/defend" class="btn btn-warning btn-xs">Defend</a>-->
		<!--<a href="#" class="btn btn-warning btn-xs">Use an items</a>-->
		<a href="/characters/arena/restUp" class="btn btn-warning btn-xs">Rest</a>
		<!--<a href="/characters/arena/flee" class="btn btn-danger btn-xs">Flee</a>-->
	</center>	
</div>

</br>
<!--HEALTH BAR-->
<div class="panel panel-default">
	ENEMY: Practice dummy
	</br>
	Level: 0
	<div class="panel-body">
		<b>Health: {{session.enemy_health}}</b><b>/{{session.enemy_max_health}}</b>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{p_hlt}}%">
				{{p_hlt}}%
			</div>
		</div>
		<b>Stamina: {{session.enemy_stamina}}</b><b>/{{session.enemy_max_stamina}}</b>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{p_sta}}%">
				{{p_sta}}%
			</div>
		</div>
	</div>
</div>

<br><br>

<!--
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" style="background-color:lavender;">{{user.username}} dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavenderblush;">enemy dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavender;">{{user.username}} dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavenderblush;">enemy dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavender;">{{user.username}} dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavenderblush;">enemy dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavender;">{{user.username}} dealt 20 damage</div>
		<div class="col-sm-12" style="background-color:lavenderblush;">enemy dealt 20 damage</div>
	</div>
</div>
-->