<div class="container">
	<h4>Your time:{{YTime}}, Game time: {{Gtime}}</h4>
	<div class="panel panel-default">
		<center><h4>PLAYER STATISTICS</h4></center>
		<div class="panel-body">
			<b>Level: {{char_data.level}}</b>
			</br>
			<!--<b>Day: 0 - (1/3)<b></br></br>-->
			<b>Health: {{char_data.healthPoints}}</b><b>/{{char_data.maxHealthPoints}}</b>
			</br>
			<b>Stamina: {{char_data.staminaPoints}}</b><b>/{{char_data.maxStaminaPoints}}</b>
			</br>
			<b>Gold: {{char_data.gold}}</b>
			</br></br>
			<b>Current experience: {{char_data.current_exp}}</b>
			</br>
			<b>Experience need for next level: {{char_data.required_exp_for_next_level}}</b>
			</br></br>
			{{#if char_data.isAbleToLevelUp}}
				{{#unless user.characterInSession}}
					Strength: {{char_data.strength}} <a href="/characters/addSTR" class="btn btn-primary btn-xs">Add to Strength</a>
					</br>
					Perception: {{char_data.perception}} <a href="/characters/addPER" class="btn btn-primary btn-xs">Add to Perception</a>
					</br>
					Endurance: {{char_data.endurance}} <a href="/characters/addEND" class="btn btn-primary btn-xs">Add to Endurance</a>
					</br>
					Charisma: {{char_data.charisma}} <a href="/characters/addCHA" class="btn btn-primary btn-xs">Add to Charisma</a>
					</br>
					Intelligence: {{char_data.intelligence}} <a href="/characters/addINT" class="btn btn-primary btn-xs">Add to Intelligence</a>
					</br>
					Agility: {{char_data.agility}} <a href="/characters/addAGI" class="btn btn-primary btn-xs">Add to Agility</a>
					</br>
					Luck: {{char_data.luck}} <a href="/characters/addLUK" class="btn btn-primary btn-xs">Add to Luck</a>
					</br></br>
					<b>Available points: {{char_data.levelUpPoints}}</b>
				{{/unless}}
			{{else}}
				Strength: {{char_data.strength}}
				</br>
				Perception: {{char_data.perception}}
				</br>
				Endurance: {{char_data.endurance}}
				</br>
				Charisma: {{char_data.charisma}}
				</br>
				Intelligence: {{char_data.intelligence}}
				</br>
				Agility: {{char_data.agility}}
				</br>
				Luck: {{char_data.luck}}
			{{/if}}
		</div>
		{{#unless user.characterInSession}}
			<!--<a href="/characters/arena" class="btn btn-success btn-xs">Participate in the Coliseum</a>-->
			<!--<a href="/characters/arena" class="btn btn-success btn-xs">Practice fight</a>-->
			<a href="/characters/arena/dummy" class="btn btn-success btn-xs">Fight a dummy.</a>
		{{/unless}}
	</div>
</div>

<!--
<div class="container">
  <h4>PLAYER ARSENAL</h4>
  <div class="panel panel-default">
    <div class="panel-body">
		Helmet: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		Torso: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		Right Arm: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		Left Arm: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		Leggings: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		Boots: None
		</br>
		<a href="#" class="btn btn-success btn-xs">Equip</a> <a href="#" class="btn btn-warning btn-xs">Unequip</a>
		</br>
		</br>
		<a href="#" class="btn btn-warning btn-xs">OPEN SHOP</a>
		<a href="#" class="btn btn-warning btn-xs">OPEN INVENTORY</a>
    </div>
  </div>
</div>
-->

<!--<a href="/characters/addEXP" class="btn btn-success btn-xs">Add exp</a>
<a href="/characters/attackEnemy" class="btn btn-success btn-xs">Take damage</a>
<a href="/characters/drainStamina" class="btn btn-success btn-xs">Lose stamina</a>
<a href="/characters/healUp" class="btn btn-success btn-xs">Heal</a>
<a href="/characters/restUp" class="btn btn-success btn-xs">Rest</a>
-->
