<h2 class="page-header">Frequently asked questions (FAQ)</h2>
<ul type="none">
	<li><b>Player statistics meaning:</b></li>
	<ul type="none">
		<li><b>Strength</b> - Maximum damage you can deal to your enemy. This does not inclide your currently equipped weapond damage.</li>
		<li><b>Perception</b> - Determines the chances of hitting your enemy.</li>
		<li><b>Endurance</b> - Your maximu health points. This does not include your armor additional points.</li>
		<li><b>Charisma</b> - Lower the prices in the shop and sell your loot for higher price.</li>
		<li><b>Intelligence</b> - Additional points given after you level up your character.</li>
		<li><b>Agility</b> - Better reflexes at evading enemy attacks. Maximum stamina set at the start of the fight and amount of stamina received when it is your turn again.</li>
		<li><b>Luck</b> - Chance to strike a critical blow to your enemy.</li>
	</ul>
	<li><b>Player option while participating in coliseum meaning:</b></li>
	<ul type="none">
		<li><b>Attack</b> - Chance to strike a critical blow to your enemy.</li>
		<li><b>Defend</b> - Will restory less than half of your stamina but you will be able to block some of your enemies damage.</li>
		<li><b>Rest</b> - Fully restore your stamina bar for your next turn but will resting enemy has a better chance at hitting you.</li>
		<li><b>Flee</b> - You better not flee the Coliseum or else you're gona be sentenced to death - your character atleast is going to be.</li>
	</ul>
	<br>
	<li class="text-danger">
		No your character won't die if you log off while you are fighting someone. I am not that brutal to begin with.....yet.
	</li>
</ul>
