<h2 class="page-header">Create Gladiator</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{#if points}}
  <div class="alert alert-danger">{{points}}</div>
{{/if}}

<form method="post" action="/characters/gladiator">
  <h3>Available points: 35<!--{{available_points}}--></h3><br>
  <div class="form-group">
    <label>Strength: </label>
    <!--<a href="/characters/gladiator/:add=str">Pridėti</a>
    <a href="/characters/AddConfirm?statName=str">TEST</a>
    <a href="/characters/gladiator/subtract/str">Atimti</a>
    <a href="/characters/gladiator/str">?</a>
    -->
    <input type="number" class="form-control" placeholder="strength" name="STR">
  </div>
  <div class="form-group">
    <label>Perception</label>
    <input type="number" class="form-control" placeholder="perception" name="PER">
  </div>
  <div class="form-group">
    <label>Endurance</label>
    <input type="number" class="form-control" placeholder="endurance" name="END">
  </div>
  <div class="form-group">
    <label>Charisma</label>
    <input type="number" class="form-control" placeholder="charisma" name="CHA">
  </div>
  <div class="form-group">
    <label>Intelligence</label>
    <input type="number" class="form-control" placeholder="intelligence" name="INT">
  </div>
  <div class="form-group">
    <label>Agility</label>
    <input type="number" class="form-control" placeholder="agility" name="AGI">
  </div>
  <div class="form-group">
    <label>Luck</label>
    <input type="number" class="form-control" placeholder="luck" name="LUK">
  </div>
  <button type="submit" class="btn btn-default">Create character</button>
</form>